# Python
backend/venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
.env

# Node
node_modules/
npm-debug.log

# IDE
.vscode/
.idea/
*.swp
*.swo
*.tar.gz
backend/.env*
.env*
